<div class="league-nav">
  <div class="league-nav-items">
    <%= link_to "Dashboard", league_path(@league), class: "league-nav-item" %>
    <%= link_to "League History", league_history_path(@league), class: "league-nav-item" %>
    <%= link_to "Power Rankings", league_rankings_path(@league), class: "league-nav-item" %>
  </div>
</div>