.bg-video {
  position: fixed;
  background-size: cover;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
  transform: scale(1.3);
}

.bg-image {
  position: fixed;
  background-size: cover;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  transform: scale(1.3);
}

@media screen and (max-width: 450px) {
  .bg-video {
    display: none;
  }
  .bg-image {
    opacity: 0.7;
  }
} 