.championship-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 4px 4px 8px #c9f0ff;
  padding: 20px;
  margin: 10px 0;
  background-color: rgba(24, 29, 39, 0.8);
  border-radius: 5px;
}

.championship-card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.championship-card-year {
  font-size: 40px;
  margin-top: 20px;
}

.championship-card-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.championship-card-trophy {
  margin-top: 20px;
}

.edit-delete-championship {
  position: absolute;
  bottom: 5px;
  right: 5px;
}