.championship-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 4px 4px 8px gray;
  padding: 20px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.championship-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.championship-card-year {
  font-size: 40px;
  margin-right: 10px;
}