.comment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 4px 4px 8px gray;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: left;
}