.form-control {
  background-color: rgba(24, 29, 39, 0.8);
  color: white;
}

.form-control:focus {
  background-color: rgba(24, 29, 39, 0.8);
  color: white;
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
}

