.form-control {
  background-color: transparent;
  color: white;
}

.form-control:focus {
  background-color: transparent;
  color: white;
  outline: none;
  box-shadow: none;
  border: 1px solid #ced4da;
}

