.league-nav {
  background-color: transparent;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 10px;
  text-align: right;
  justify-content: flex-start;
}

.league-nav-item {
  margin-right: 10px;
  color: darkgray;
  transition: 0.3s all;

  &:hover {
    color: whitesmoke;
    text-decoration: none;
  }
}