.league-info {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(24, 29, 39, 0.8);
  box-shadow: 4px 4px 8px #c9f0ff;
}

.league-description {
  margin-bottom: 10px;
}

.league-standings {
  
}