.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: 10px 20px 0 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
  transition: 0.3s all;

  &:hover {
    transform: translateY(-2px);
    border-bottom: 1px solid white;
  }
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
}

.dropdown-item {
  color: whitesmoke;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border: none !important;
} 

.dropdown-greeting {
  padding: 0.25rem 1.5rem;
  color: white;
}

.dropdown-greeting p {
  margin-bottom: 0 !important;
}
