.news-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  box-shadow: 4px 4px 8px #c9f0ff;
  padding: 5px 10px;
  background-color: rgba(24, 29, 39, 0.8);
  border-radius: 5px;
  text-align: left;
}