.post-actions {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.post-likes {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.post-heading {
  display: flex;
  align-items: center;
}