.team-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 4px 4px 8px gray;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.team-card p {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.team-card-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}