.team-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 4px 4px 8px #c9f0ff;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: rgba(24, 29, 39, 0.8);
  border-radius: 5px;
  text-align: left;
}

.team-card p {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.team-card-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}