.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.team-header-details {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .team-header {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .team-header-details {
    flex-direction: column;
  }
} 