// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "actiontext.scss";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 62.5%;
    text-align: center;
  }
} 

